<p>
  <b>商品名:<%= @item.name %></b>
</p>

<p>
  <b>商品詳細:<%= @item.description %></b>
</p>

<p>
 <b>価格:<%= @item.price %></b>
</p>

<p>
 <b>売り手:<%= @item.seller_id %></b>
</p>

<p>
 <b>電子メール:<%= @item.email %></b>
</p>
 <!--  -->

<p>
  <%= image_tag @item.image_url %>
</p>

<p>
  <a href="/items">一覧へ</a>

  <a href="<%= edit_item_path(@item) %>">編集</a>
  <a href="<%= item_path(@item) %>" data-method="delete" >削除</a>
</p>



